
*.tmp
~$art_App.docx
~$art_App_Appendix.docx
document/APC_data/~$temporal.xlsx
document/AAG_abstract/~$I_impact_waiting_LLY_HJM.docx
document/pechakucha/~$lighting_tallk.pptx
~$vision_Comments.docx
~$art_App_Revision.docx
~$Todo_List.xlsx
document/~$revision_data.xlsx
~$pendix.docx
*.lock
~$art_App_Final.docx
